meta:
  engine: 4.1.0
units:
  #spread: u + 2
  kx: u
  ky: u
  #padding variables (miedzy wierszami)
  px: kx + 2 #mm 
  py: ky + 2
  #padding na case
  dpx: kx + 8
  dpy: ky + 8
  #testowy padding do kejsa
  test: 5 # 
  test1: 1 #powiekszenie o 1
  #srubki
  screwSize: 1.5
  standoffSize: 2.5
  #case wall hight
  casehight: 15
points:
  zones:
    row0: #dolny pasek
      key:
        padding: 1ky #vertical spejs
        spread: 1kx #horizonal spejs
      anchor:
        shift: [100, -140]
      columns:
        ro1left: #od lewej do prawej
          rows.whatever.adjust.shift: [0.15kx,0]
          key.width: 1.25kx
          key.column_net: P10
        ro2left:
          rows.whatever.adjust.shift: [0.45kx,0]
          key.width: 1.25kx
          key.column_net: P16
        ro3left:
          rows.whatever.adjust.shift: [0.75kx,0]
          key.width: 1.25kx
          key.column_net: P14
        ro4left:
          rows.whatever.adjust.shift: [1.3kx,0]
          key.width: 1.75kx
          key.column_net: P15
        ro5left:
          rows.whatever.adjust.shift: [2.1kx,0]
          key.width: 1.75kx  
          key.column_net: P18
      rows:
        whatever:
          row_net: P8

    row1: #2 od dolu
      key:
        padding: 1ky #vertical spejs
        spread: 1kx #horizonal spejs
      anchor:
        shift: [100, -140]
      columns:
        ro1left:
          rows.whatever.adjust.shift: [1.1kx,1ky]
          key.width: 1.75kx
          key.column_net: P10
        ro2left:
          rows.whatever.adjust.shift: [1.5kx,1ky]
          key.column_net: P16
        ro3left:
          rows.whatever.adjust.shift: [1.5kx,1ky]
          key.column_net: P14
        ro4left:
          rows.whatever.adjust.shift: [1.5kx,1ky]
          key.column_net: P15
        ro5left:
          rows.whatever.adjust.shift: [1.5kx,1ky]
          key.column_net: P18
        ro6left:
          rows.whatever.adjust.shift: [1.5kx,1ky]
          key.column_net: P19
      rows:
        whatever:
          row_net: P7
    row2: # 3 od dolu
      key:
        padding: 1ky #vertical spejs
        spread: 1kx #horizonal spejs
      anchor:
        shift: [100, -140]
      columns:
        ro1left:
          rows.whatever.adjust.shift: [0.4kx,2ky]
          key.width: 1.75kx
          key.column_net: P10
        ro2left:
          rows.whatever.adjust.shift: [0.8kx,2ky]
          key.column_net: P16
        ro3left:
          rows.whatever.adjust.shift: [0.8kx,2ky]
          key.column_net: P14
        ro4left:
          rows.whatever.adjust.shift: [0.8kx,2ky]
          key.column_net: P15
        ro5left:
          rows.whatever.adjust.shift: [0.8kx,2ky]
          key.column_net: P18
        ro6left:
          rows.whatever.adjust.shift: [0.8kx,2ky]
          key.column_net: P19
        ro7left:
          rows.whatever.adjust.shift: [0.8kx,2ky]
          key.column_net: P20
      rows:
        whatever:
          row_net: P6
    row3: # 4 od dolu
      key:
        padding: 1ky #vertical spejs
        spread: 1kx #horizonal spejs
      anchor:
        shift: [100, -140]
      columns:
        ro1left:
          rows.whatever.adjust.shift: [0.275kx,3ky]
          key.width: 1.5kx
          key.column_net: P10
        ro2left:
          rows.whatever.adjust.shift: [0.55kx,3ky]
          key.column_net: P16
        ro3left:
          rows.whatever.adjust.shift: [0.55kx,3ky]
          key.column_net: P14
        ro4left:
          rows.whatever.adjust.shift: [0.55kx,3ky]
          key.column_net: P15
        ro5left:
          rows.whatever.adjust.shift: [0.55kx,3ky]
          key.column_net: P18
        ro6left:
          rows.whatever.adjust.shift: [0.55kx,3ky]
          key.column_net: P19
        ro7left:
          rows.whatever.adjust.shift: [0.55kx,3ky]
          key.column_net: P20
      rows: 
        whatever:
          row_net: P5
    row4: # 5 od dolu 
      key:
        padding: 1ky #vertical spejs
        spread: 1kx #horizonal spejs
      anchor:
        shift: [100, -140]
      columns:
        ro1left:
          rows.whatever.adjust.shift: [0,4ky]
          key.column_net: P10
        ro2left:
          rows.whatever.adjust.shift: [0,4ky]
          key.column_net: P16
        ro3left:
          rows.whatever.adjust.shift: [0,4ky]
          key.column_net: P14
        ro4left:
          rows.whatever.adjust.shift: [0,4ky]
          key.column_net: P15
        ro5left:
          rows.whatever.adjust.shift: [0,4ky]
          key.column_net: P18
        ro6left:
          rows.whatever.adjust.shift: [0,4ky]
          key.column_net: P19
        ro7left:
          rows.whatever.adjust.shift: [0,4ky]
          key.column_net: P20
      rows:
        whatever:
          row_net: P4
          
    thumbsLeft: # dodatkowe lewe klawisze dla kciuka
      key:
        padding: 1ky
        spread: 1kx
      anchor:
        shift: [100, -140]

      columns:
        co1left: #lewa
          key:
            splay: -4
          rows.help1left.column_net: P15
          rows.help2left.column_net: P18
        co2left: #prawa
          rows.help1left.column_net: P18
          rows.help2left.column_net: P19
      rows:
        help2left: #dolny
          shift: [5.9kx, -2ky+3]
          row_net: P21
          
        help1left: #gorny
          shift: [-1kx]
          row_net: P9

outlines:
  raw:
    - what: rectangle
      where: true
      bound: true
      size: [px, py]
  keys:
    - what: rectangle
      where: true
      bound: false
      size: [kx-0.5,ky-0.5]
  board:
    - what: polygon
      operation: stack
      points:
        - ref: row0_ro1left_whatever #1
          shift: [-0.825kx,-0.7ky]
        - ref: row4_ro1left_whatever #2
          shift: [-0.7kx,0.7ky]
        - ref: row4_ro7left_whatever #3
          shift: [3.5kx,0.7ky]
        - ref: row2_ro7left_whatever #4
          shift: [2.7kx,-3ky]
        - ref: thumbsLeft_co2left_help2left #5
          shift: [0.55kx,-0.8ky]    
        - ref: thumbsLeft_co1left_help2left #5
          shift: [-0.55kx,-0.8ky]    
        - ref: row0_ro3left_whatever #6
          shift: [0,-0.7ky]
      fillet: 2
  xlBoard:
    - what: polygon
      operation: stack
      points:
        - ref: row0_ro1left_whatever #1
          shift: [-0.825kx-test,-0.7ky-test]
        - ref: row4_ro1left_whatever #2
          shift: [-0.7kx-test,0.7ky+test]
        - ref: row4_ro7left_whatever #3
          shift: [3.5kx+test,0.7ky+test]
        - ref: row2_ro7left_whatever #4
          shift: [2.7kx+test,-3ky-test]
        - ref: thumbsLeft_co2left_help2left #5
          shift: [0.55kx+test,-0.8ky-test]    
        - ref: thumbsLeft_co1left_help2left #5
          shift: [-0.55kx-test,-0.8ky-test]    
        - ref: row0_ro3left_whatever #6
          shift: [0-test,-0.7ky-test]
      fillet: 2      
  combo:
    - name: board
    - operation: subtract
      name: keys
  mounting:
    - what: circle
      radius: screwSize
      where:
        ref: [row0_ro1left_whatever]
        shift: [-0.2kx,0.85ky]
    - what: circle
      radius: screwSize
      where:
        ref: [row3_ro1left_whatever]
        shift: [-0.75kx,0.15ky]
    - what: circle
      radius: screwSize
      where:
        ref: [row4_ro7left_whatever]
        shift: [3.25kx,0.35ky]
    - what: circle
      radius: screwSize
      where:
        ref: [row4_ro7left_whatever]
        shift: [3.25kx,-4.5ky]
    - what: circle
      radius: screwSize
      where:
        ref: [row0_ro4left_whatever]
        shift: [0.6kx,-2.1ky]
  standoff:
    - what: circle
      radius: standoffSize
      where:
        ref: [row0_ro1left_whatever]
        shift: [-0.2kx,0.85ky]
    - what: circle
      radius: standoffSize
      where:
        ref: [row3_ro1left_whatever]
        shift: [-0.75kx,0.15ky]
    - what: circle
      radius: standoffSize
      where:
        ref: [row4_ro7left_whatever]
        shift: [3.25kx,0.35ky]
    - what: circle
      radius: standoffSize
      where:
        ref: [row4_ro7left_whatever]
        shift: [3.25kx,-4.5ky]
    - what: circle
      radius: standoffSize
      where:
        ref: [row0_ro4left_whatever]
        shift: [0.6kx,-2.1ky]
pcbs:
  leftHalf:
    template: kicad8
    outlines:
      main:
        outline: board
    footprints:
      mx_hotswap:
        what: mx
        where: true
        params:
          keycaps: true
          reverse: false
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diode:
        what: diode
        where: true
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
      nice_nanocontroller:
        what: ceoloide/mcu_nice_nano
        params:
        where:
          ref: row4_ro7left_whatever
          shift: [2.5kx,-0.6ky]
          rotate: 0
      oled:
        what: oled
        params:
          side: "F"
          SDA: P2
          SCL: P3
        where:
          ref: row4_ro7left_whatever
          shift: [2.5kx+6,-0.8ky-19]
          rotate: 270
      battery_header:
        what: jstph
        where:
          ref: row4_ro7left_whatever   # anchor it to a known key or any other point
          shift: [2.5kx, -0.8ky-19-38-6]                # move it where you want it (tweak as needed)
          rotate: 180                     # flip if the connector faces the wrong way
        params:
          side: F
          pos: BAT_P                       # positive battery lead to Nice!Nano VBAT pin
          neg: GND 
      power_Switch:
        what: ceoloide/power_switch_smd_side
        where:
          ref: row4_ro7left_whatever
          shift: [1.8kx, -0.8ky-19-38-6] 
          rotate: 0
        params:
          side: F
          from: BAT_P
          to: RAW
      holeBatterCable:
        what: ceoloide/mounting_hole_npth
        where: 
          ref: row4_ro7left_whatever
          shift: [2.5kx, -0.8ky-19-38-6-9]
        params:
          hole_size: 8
          hole_drill: 8
      holeBottomLeft:
        what: ceoloide/mounting_hole_npth
        where: 
          ref: row0_ro1left_whatever
          shift: [-0.2kx,0.85ky]
        params:
          hole_size: 2.2
          hole_drill: 2.2
      holeUpperLeft:
        what: ceoloide/mounting_hole_npth
        where: 
          ref: row3_ro1left_whatever
          shift: [-0.75kx,0.15ky]
        params:
          hole_size: 2.2
          hole_drill: 2.2
      holeUpperRight:
        what: ceoloide/mounting_hole_npth
        where: 
          ref: row4_ro7left_whatever
          shift: [3.25kx,0.35ky]
        params:
          hole_size: 2.2
          hole_drill: 2.2
      holeLowerRight:
        what: ceoloide/mounting_hole_npth
        where: 
          ref: row4_ro7left_whatever
          shift: [3.25kx,-4.5ky]
        params:
          hole_size: 2.2
          hole_drill: 2.2
      holeLowerMiddle:
        what: ceoloide/mounting_hole_npth
        where: 
          ref: row0_ro4left_whatever
          shift: [0.6kx,-2.1ky]
        params:
          hole_size: 2.2
          hole_drill: 2.2
cases:
  bottom:
    - name: board
      extrude: 1
  xlBottom:
    - name: xlBoard
      extrude: 1
  _outerWall:
    - name: xlBoard
      extrude: casehight
  _innerWall:
    - name: board
      extrude: casehight
  wall:
    - what: case
      name: _outerWall
      operation: add
    - what: case
      name: _innerWall
      operation: subtract
  _holes:
    - name: mounting
      extrude: casehight - 1.6
  _standoffs:
    - name: standoff
      extrude: casehight - 1.6
  case:
    - what: case
      name: _standoffs
      operation: add
    - what: case
      name: _holes
      operation: subtract
    - what: case
      name: xlBottom
      operation: add
    - what: case
      name: wall
      operation: add
